.single-post {
    margin-bottom: 60px;
}

.single-post-homepage {
    margin-bottom: 60px;
    text-align: center;
}
.name-pronounciation {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#name-pronounciation {
    display: flex; 
    justify-content: center; 
    align-items: center;
}


.single-post .post-header {
    text-align: center;
}

.single-post .post-media {
    margin-top: 45px;
}

.single-post .post-image-link {
    pointer-events: none;
}

.single-post .post-content {
    line-height: 1.75;
}

@media (max-width: 767px) {
    .single-post .post-header {
        margin-top: -30px;
    }
}
